<section id="dashboard">
    <ul class="card-wrapper">
        <li class="card">
            <img src="../../../../assets/images/push-day-exercises.jpg" alt="PUSH" />

            <a class="details-btn" routerLink="push">
                PUSH
            </a>
        </li>
        <li class="card">
            <img src="../../../../assets/images/pull-day-exercises.jpg" alt="PULL" />

            <a class="details-btn" routerLink="pull">
                PULL
            </a>
        </li>
        <li class="card">
            <img src="../../../../assets/images/legs-day-exercises.jpg" alt="LEGS" />

            <a class="details-btn" routerLink="legs">
                LEGS
            </a>
        </li>
    </ul>
</section>