<form [formGroup]="legsForm" (ngSubmit)="generateHandler">
  <section id="dashboard">
    <h2 class="card-title">LEGS EXERCISES</h2>
    <ul class="push-card-wrapper">
      <li class="push-card">
        <label for="quadriceps1">QUADRICEPS (FRONT THIGH)</label>
        <select name="quadriceps1" id="quadriceps1" formControlName="quadriceps1">
          <option value="" hidden>Select an Exercise</option>
          <option value="front-squats" [disabled]="legsForm.value.quadriceps2 === 'front-squats'">Front Squats</option>
          <option value="hack-squats" [disabled]="legsForm.value.quadriceps2 === 'hack-squats'">Hack Squats</option>
          <option value="high-bar-back-squats" [disabled]="legsForm.value.quadriceps2 === 'high-bar-back-squats'">High Bar Back Squats</option>
          <option value="leg-extensions" [disabled]="legsForm.value.quadriceps2 === 'leg-extensions'">Leg Extensions</option>
          <option value="leg-press" [disabled]="legsForm.value.quadriceps2 === 'leg-press'">Leg Press</option>
        </select>
        <button type="button" id="quad1" (click)="(onClickVideoHandler)">
          How To Do It Properly
        </button>

        <select name="quadriceps2" id="quadriceps2" formControlName="quadriceps2">
          <option value="" hidden>Select an Exercise</option>
          <option value="front-squats" [disabled]="legsForm.value.quadriceps1 === 'front-squats'">Front Squats</option>
          <option value="hack-squats" [disabled]="legsForm.value.quadriceps1 === 'hack-squats'">Hack Squats</option>
          <option value="high-bar-back-squats" [disabled]="legsForm.value.quadriceps1 === 'high-bar-back-squats'">High Bar Back Squats</option>
          <option value="leg-extensions" [disabled]="legsForm.value.quadriceps1 === 'leg-extensions'">Leg Extensions</option>
          <option value="leg-press" [disabled]="legsForm.value.quadriceps1 === 'leg-press'">Leg Press</option>
        </select>
        <button type="button" id="quad2" (click)="(onClickVideoHandler)">
          How To Do It Properly
        </button>

        <label for="">HAMSTRINGS (BACK THIGH)</label>
        <select name="hamstrings" id="hamstrings" formControlName="hamstrings">
          <option value="" hidden>Select an Exercise</option>
          <option value="seated-leg-curl">Seated Leg Curl</option>
          <option value="barbell-romanian-deadlift">
            Barbell Romanian Deadlift
          </option>
          <option value="glute-ham-raises">Glute Ham Raises</option>
          <option value="stationary-split-squats">
            Stationary Split Squats
          </option>
        </select>
        <button type="button" id="hamstring" (click)="(onClickVideoHandler)">
          How To Do It Properly
        </button>
      </li>
      <li class="push-card">
        <label for="glutes1">GLUTES (BUTT)</label>
        <select name="glutes1" id="glutes1" formControlName="glutes1">
          <option value="" hidden>Select an Exercise</option>
          <option value="barbell-hip-thrust" [disabled]="legsForm.value.glutes2 === 'barbell-hip-thrust'">Barbell Hip Thrust</option>
          <option value="45°-hip-extension" [disabled]="legsForm.value.glutes2 === '45°-hip-extension'">45° Hip Extension</option>
          <option value="deadlift" [disabled]="legsForm.value.glutes2 === 'deadlift'">Deadlift</option>
          <option value="cable-pull-throughs" [disabled]="legsForm.value.glutes2 === 'cable-pull-throughs'">Cable Pull Throughs</option>
          <option value="glute-medius-kickbacks" [disabled]="legsForm.value.glutes2 === 'glute-medius-kickbacks'">Glute Medius Kickbacks</option>
        </select>
        <button type="button" id="gl1" (click)="(onClickVideoHandler)">
          How To Do It Properly
        </button>

        <select name="glutes2" id="glutes2" formControlName="glutes2">
          <option value="" hidden>Select an Exercise</option>
          <option value="barbell-hip-thrust" [disabled]="legsForm.value.glutes1 === 'barbell-hip-thrust'">Barbell Hip Thrust</option>
          <option value="45°-hip-extension" [disabled]="legsForm.value.glutes1 === '45°-hip-extension'">45° Hip Extension</option>
          <option value="deadlift" [disabled]="legsForm.value.glutes1 === 'deadlift'">Deadlift</option>
          <option value="cable-pull-throughs" [disabled]="legsForm.value.glutes1 === 'cable-pull-throughs'">Cable Pull Throughs</option>
          <option value="glute-medius-kickbacks" [disabled]="legsForm.value.glutes1 === 'glute-medius-kickbacks'">Glute Medius Kickbacks</option>
        </select>
        <button type="button" id="gl2" (click)="(onClickVideoHandler)">
          How To Do It Properly
        </button>

        <label for="calves">CALVES</label>
        <select name="calves" id="calves" formControlName="calves">
          <option value="" hidden>Select an Exercise</option>
          <option value="standing-calf-raises">Standing Calf Raises</option>
          <option value="seated-calf-raises">Seated Calf Raises</option>
          <option value="leg-press-calf-raises">Leg Press Calf Raises</option>
        </select>
        <button type="button" id="calf" (click)="(onClickVideoHandler)">
          How To Do It Properly
        </button>
      </li>
    </ul>
  </section>
  <button class="btn-generate" (click)="(generateHandler(legsForm))">GENERATE</button>
</form>

{{ legsForm.value | json }}