<p class="exercise">
  <strong>Upper Chest:</strong>
  <span>{{ upperChest }}</span>
</p>
<p class="exercise">
  <strong>Middle Chest:</strong>
  <span>{{ middleChest }}</span>
</p>
<p class="exercise">
  <strong>Lower Chest:</strong>
  <span>{{ lowerChest }}</span>
</p>
<p class="exercise">
  <strong>Triceps:</strong>
  <span>{{ triceps1 }}</span> 
  <span style="white-space: pre-wrap"></span>
  <span>{{ triceps2 }}</span>
</p>
<p class="exercise">
  <strong>Front Delt:</strong>
  <span>{{ frontDelt }}</span>
</p>
<p class="exercise">
  <strong>Side Delt:</strong>
  <span>{{ sideDelt }}</span>
</p>
