.push-card-wrapper {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.push-card {
    display: inline-grid;
    justify-content: center;
    width: 23%;
    height: 600px;
    margin: 25px auto;
    background-color: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    border: 2px ridge rgb(210, 208, 208);
    color: rgb(5, 5, 5);
    box-shadow: 20px 20px rgba(0, 0, 0, .15);
    transition: all .4s ease;
}

.push-card label {
    color: red;
    text-decoration: underline;
    -webkit-text-stroke: thick;
}

.btn-generate {
    display: block;
    padding: 25px 100px 25px 100px;
    margin: auto;
    border-radius: 30px;
    font-size: xx-large;
    cursor: pointer;
    font-style: italic;
}

.push-card-wrapper select {
    height: 35px;
    width: 320px;
}

.push-card-wrapper button {
    height: 50px;
    color: blue;
    border-radius: 200px;
    cursor: pointer;
    width: 138px;
    margin: auto;
}

.card-title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: dimgrey;
    text-decoration-style: double;
    text-decoration-thickness: from-font;
    text-shadow: 0 0 #c40f0f;
    -webkit-text-stroke-width: thin;
    font-family: math;
    font-size: xx-large;
}