<form>
    <section id="dashboard">
        <h2 class='card-title'>PUSH EXERCISES</h2>
        <ul class="push-card-wrapper">
            <li class="push-card">
                <label for="upper-chest">UPPER CHEST</label>
                <select name="upper-chest" id="upper-chest">
                    <option value="none" hidden>Select an Exercise</option>
                    <option value="30°-incline-dumbbell-press">30° Incline Dumbbell Press</option>
                    <option value="low-to-high-cable-fly">Low To High Cable Fly</option>
                    <option value="incline-chest-press-machine">Incline Chest Press Machine</option>
                </select>
                <button type="button" id="up-chest" (click)="onClickVideoHandler">How To Do It Properly</button>

                <label for="middle-chest">MIDDLE CHEST</label>
                <select name="middle-chest" id="middle-chest" >
                    <option value="none" hidden>Select an Exercise</option>
                    <option value="barbell-bench-press">Barbell Bench Press</option>
                    <option value="standing-cable-fly">Standing Cable Fly</option>
                    <option value="pec-deck-machine">Pec Deck Machine</option>
                </select>
                <button type="button" id="mid-chest" (click)="onClickVideoHandler">How To Do It Properly</button>

                <label for="lower-chest">LOWER CHEST</label>
                <select name="lower-chest" id="lower-chest" >
                    <option value="none" hidden>Select an Exercise</option>
                    <option value="slight-decline-dumbbell-press">Slight Decline Dumbbell Press</option>
                    <option value="high-to-low-cable-fly">High To Low Cable Fly</option>
                    <option value="chest-dips">Chest Dips</option>
                </select>
                <button type="button" id="low-chest" (click)="onClickVideoHandler">How To Do It Properly</button>
            </li>
            <li class="push-card">
                <label for="triceps1">TRICEPS</label>
                <select name="triceps1" id="triceps1" >
                    <option value="none" hidden>Select an Exercise</option>
                    <option value="lying-tricep-extension">Lying Tricep Extension</option>
                    <option value="incline-dumbbell-powerbombs" >Incline Dumbbell Powerbombs</option>
                    <option value="rocking-pushdowns" >Rocking Pushdowns</option>
                    <option value="close-grip-bench-press" >Close Grip Bench Press</option>
                    <option value="dumbbell-kickbacks" >Dumbbell Kickbacks</option>
                </select>
                <button type="button" id="tri1" (click)="onClickVideoHandler">How To Do It Properly</button>

                <select name="triceps2" id="triceps2" >
                    <option value="none" hidden>Select an Exercise</option>
                    <option value="lying-tricep-extension" >Lying Tricep Extension</option>
                    <option value="incline-dumbbell-powerbombs" >Incline Dumbbell Powerbombs</option>
                    <option value="rocking-pushdowns" >Rocking Pushdowns</option>
                    <option value="close-grip-bench-press" >Close Grip Bench Press</option>
                    <option value="dumbbell-kickbacks" >Dumbbell Kickbacks</option>
                </select>
                <button type="button" id="tri2" (click)="onClickVideoHandler">How To Do It Properly</button>
            </li>
            <li class="push-card">
                <label for="front-delt">SHOULDER FRONT DELT</label>
                <select name="front-delt" id="front-delt"  >
                    <option value="none" hidden>Select an Exercise</option>
                    <option value="seated-dumbbell-shoulder-press">Seated Dumbbell Shoulder Press</option>
                    <option value="dumbbell-front-raises">Dumbbell Front Raises</option>
                    <option value="shoulder-press-machine">Shoulder Press Machine</option>
                </select>
                <button type="button" id="f-delt" (click)="onClickVideoHandler">How To Do It Properly</button>

                <label for="side-delt">SHOULDER SIDE DELT</label>
                <select name="side-delt" id="side-delt" >
                    <option value="none" hidden>Select an Exercise</option>
                    <option value="dumbbell-lateral-raise">Dumbbell Lateral Raise</option>
                    <option value="lying-incline-lateral-raise">Lying Incline Lateral Raise</option>
                    <option value="cable-lateral-raise">Cable Lateral Raise</option>
                </select>
                <button type="button" id="s-delt" (click)="onClickVideoHandler">How To Do It Properly</button>
            </li>
        </ul>
    </section>
    <button class="btn-generate" (click)="generateHandler">GENERATE</button>
</form>