<section>
  <div class="form">
    <h2>Register</h2>
    <form
      class="login-form"
      #registerForm="ngForm"
      appRepassValidator
      (ngSubmit)="submitHandler(registerForm)"
    >
      <input
        type="text"
        name="username"
        id="register-username"
        placeholder="username"
        ngModel
        required
        minlength="3"
        #usernameInput="ngModel"
      />

      <div *ngIf="usernameInput.touched">
        <p *ngIf="usernameInput.errors?.['required']">Username is required!</p>
        <p *ngIf="usernameInput.errors?.['minlength']">Username must be at least 3 characters</p>

      </div>

      <input
        type="password"
        name="password"
        id="register-password"
        placeholder="password"
        ngModel
        required
        minlength="3"
        #passwordInput="ngModel"
      />
      <div *ngIf="passwordInput.touched">
        <p *ngIf="passwordInput.errors?.['required']">Password is required!</p>
        <p *ngIf="passwordInput.errors?.['minlength']">Password must be at least 3 characters</p>
      </div>

      <input
        type="password"
        name="repass"
        id="repass"
        placeholder="repeat password"
        ngModel
        required
        #repassInput="ngModel"
      />
      <div *ngIf="repassInput.touched">
        <p *ngIf="repassInput.errors?.['required']">Repeat Password is required!</p>
        <p *ngIf="repassInput.errors?.['matched']">Repeat password doesn't match</p>
      </div>

      <button [disabled]="registerForm.invalid">register</button>
      <p class="message">
        Already registered? <a routerLink="/auth/login">Login</a>
      </p>
    </form>
  </div>
</section>
