<nav>
  <div>
    <a class="active" routerLink=""> WORKOUT TODAY </a>
  </div>
  <a routerLink="/workouts"> All Workouts </a>

  <div *ngIf="isLoggedIn" class="user">
    <a routerLink="workouts/create"> Create Your Workout </a>
    <div class="profile">
      <span> Welcome, {{ username }} </span>
      <a routerLink="workouts/my-workout"> My Workout </a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
  <div *ngIf="!isLoggedIn" class="guest">
    <div class="profile">
      <a routerLink="/auth/login"> Login </a>
      <a routerLink="/auth/register"> Register </a>
    </div>
  </div>
</nav>
