<section id="details">
  <div id="details-wrapper">
    <p id="details-title">{{ ownerName }}'s Workout Details</p>
    <div id="img-wrapper">
      <img
        *ngIf="workout?.type"
        src="../../../assets/images/{{ workout?.type }}.gif"
        alt="example1"
      />

      <div *ngIf="workout?.type === 'push'">
        <app-details-push [workout]="workout" />
      </div>
      <div *ngIf="workout?.type === 'pull'">
        <app-details-pull [workout]="workout" />
      </div>
      <div *ngIf="workout?.type === 'legs'">
        <app-details-legs [workout]="workout" />
      </div>
      <div id="likes">
        Likes: <span id="likes-count">{{ workout?.likedBy?.length }}</span>
      </div>
      <div id="action-buttons" *ngIf="!isLiked">
        <button class="btn-details" (click)="likeHandler()">Like</button>
      </div>
    </div>
  </div>
</section>
