<div id="info-wrapper">
  <p class="exercise">
    <strong>Quadriceps:</strong>
    <span>{{ quadriceps1 }}</span>
    <span style="white-space: pre-wrap"> / </span>
    <span>{{ quadriceps2 }}</span>
  </p>
  <p class="exercise">
    <strong>Hamstrings:</strong>
    <span>{{ hamstrings }}</span>
  </p>
  <p class="exercise">
    <strong>Glutes:</strong>
    <span>{{ glutes1 }}</span>
    <span style="white-space: pre-wrap"> / </span>
    <span>{{ glutes2 }}</span>
  </p>
  <p class="exercise">
    <strong>Calves:</strong>
    <span>{{ calves }}</span>
  </p>
</div>
