<div id="info-wrapper">
  <p class="exercise">
    <strong>Upper Back:</strong>
    <span>{{ upperBack1 }}</span>
    <span style="white-space: pre-wrap"></span>
    <span>{{ upperBack2 }}</span>
  </p>
  <p class="exercise">
    <strong>Lats:</strong>
    <span>{{ lats1 }}</span>
    <span style="white-space: pre-wrap"></span>
    <span>{{ lats2 }}</span>
  </p>
  <p class="exercise">
    <strong>Biceps:</strong>
    <span>{{ biceps1 }}</span>
    <span style="white-space: pre-wrap"></span>
    <span>{{ biceps2 }}</span>
  </p>
  <p class="exercise">
    <strong>Rear Delt:</strong>
    <span>{{ rearDelt }}</span>
  </p>
</div>
