#info-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 200%;
    margin-left: -70px;
    height: 250px;
}

#info-wrapper>p {
    width: 90%;
    margin: 25px 0px 0px 0px;
    height: auto;
    text-align: center;
    font-weight: bold;
}

#info-wrapper>p>strong {
    float: left;
    color: #c95454
}

#info-wrapper>p>span {
    float: right;
}


.exercise {
    text-align: center;
    font-size: 19px;
}